$color_1: white;
$color_2: #0843A6;
$color_3: #01BEFE;
$color_4: #f2f2f2;
$color_5: black;
$font_family_1: alpine-vision;
$font_family_2: alpine-air;
$font_family_3: alpine-air-light;
$font_family_4: inherit;
$background_color_1: #2b59a0;
$background_color_2: rgba(41, 37, 37, 0.781);
$background_color_3: rgba(1, 190, 254, 0.4);
$background_color_4: #ddd;
$background_color_5: inherit;
$background_color_6: #f9f9f9;

@font-face {
  font-family: alpine-vision;
  src: url(../../public/AlpineVision-Regular.woff);
}
@font-face {
  font-family: alpine-air;
  src: url(../../public/AlpineAscensionAir-Regular.woff);
}
@font-face {
  font-family: alpine-air-light;
  src: url(../../public/AlpineAscensionAir-Light.woff);
}
/* Les ID # */
/* Les Classes . */
/* Background blue */
/* CSS SPECIAL(Navbar, animation,... */
/* Animate h1 header */
/* 1er texte haut */
/* 2eme texte bas  */
@keyframes "moveInLeft" {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes "moveInRight" {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* FIN */
/* Navbar */
/* Add a black background color to the top navigation */
/* Style the links inside the navigation bar */
/* Change the color of links on hover */
/* Add a color to the active/current link */
/* Centered section inside the top navigation */
/* Right-aligned section inside the top navigation */
/* Masonry */
/* Fin navbar */
/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
h1 {
  font-family: $font_family_1;
}
h2 {
  font-family: $font_family_2;
}
h3 {
  font-family: $font_family_2;
}
p {
  text-align: justify;
  font-family: $font_family_3;
  font-size: 19px;
}
#logo {
  width: 200px;
}
.agility {
  background-image: url('assets/sources-homepage/A110/Alpine-A110-1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.bg-blue {
  background-image: url('https://www.123freevectors.com/wp-content/original/11001-abstract-light-blue-striped-background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-color: $background_color_1;
  background-blend-mode: soft-light;
  background-attachment: fixed;
  background-position: center;
}
.jumbo {
  background-color: $background_color_2;
  position: relative;
  color: $color_1;
  padding-left: 40px;
  padding-right: 40PX;
  text-align: justify;
}
.text-blue {
  color: $color_2;
}
.main {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-heading {
  color: $color_3;
}
.main-heading-primary {
  display: block;
  font-size: 5.0rem;
  font-weight: 400;
  letter-spacing: 28px;
  animation: moveInLeft 5s linear infinite alternate;
  padding-top: 3%;
  text-shadow: black 2px 0 10px;
}
.main-heading-secondary {
  display: block;
  font-size: 3.1rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 10px;
  animation: moveInRight 5s linear infinite alternate;
  text-shadow: black 2px 0 10px;
}
.topnav {
  position: relative;
  background-color: $background_color_3;
  overflow: hidden;
  z-index: 9;
  a {
    float: left;
    display: block;
    color: $color_4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    &:hover {
      background-color: $background_color_4;
      color: $color_5;
    }
  }
  a.active {
    color: $color_1;
  }
}
.topnav-centered {
  a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.topnav-right {
  float: right;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.dropdown {
  float: left;
  overflow: hidden;
  .dropbt {
    font-size: 17;
    border: none;
    outline: none;
    color: $color_1;
    padding: 14px 16px;
    background-color: $background_color_5;
    font-family: $font_family_4;
    margin: 0;
  }
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $background_color_6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  a {
    float: none;
    color: $color_5;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 1050px) {
  .desktop-nav {
    a {
      float: none;
      display: none;
    }
  }
  .topnav-right {
    float: none;
    display: none;
    font-size: 12px !important;
  }
  #logo {
    max-width: 70%;
  }
  a {
    font-size: 12px !important;
  }
  .topnav-centered {
    a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }
}
