@font-face {
    font-family: alpine-vision;
    src: url(../fonts/AlpineVision-Regular.woff);
}
@font-face {
    font-family: alpine-air;
    src: url(../fonts/AlpineAscensionAir-Regular.woff);
}
@font-face {
    font-family: alpine-air-light;
    src: url(../fonts/AlpineAscensionAir-Light.woff);
}
html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;

}

h1 {
font-family: alpine-vision;

}
h2, h3, h4, h5 {
font-family: alpine-air;

}
p {
    text-align: justify;
    font-family: alpine-air-light;
    font-size: 19px;
}

/* Les ID # */
#logo {
    width: 200px;
}

/* Les Classes . */
.agility {
    background-image: url('../assets/sources-homepage/A110/Alpine-A110-1.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}


/* Background blue */
.bg-blue {
    background-image: url('https://www.123freevectors.com/wp-content/original/11001-abstract-light-blue-striped-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #2b59a0;
    background-blend-mode: soft-light;
    background-attachment: fixed;
    background-position: center;
}

.slide-height {
    height: 60vh;
    width: 60vh;
}

.text-blue {
    color: #0843A6;
}


/* Mobil */
@media screen and (max-width: 640px) {

}
/* CSS SPECIAL mobil */

/*Poubelle recyclable*/

/* Background siege  */
/* .inside {
    background-image: url('assets/sources-homepage/design/Visuel_1_desktop.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-attachment: fixed;
    background-position: center;
}*/
/* .alpine-font {
    font-family: 'Enter The Grid';
    font-size: 15px;
    letter-spacing: 5px;
} */
/* Background blue section design */
/* .blue {
    background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/00/04/53/9556248b4747950.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: cornflowerblue;
    background-blend-mode: soft-light;
    background-attachment: fixed;
    background-position: center;
} */
/* @font-face {
    font-family: "Enter The Grid" !important ;
    src: url('Enter\ the\ Grid.ttf');
} */
/* Balises générales */
/* body  {
    font-family: "Enter The Grid";
} */



